
<% @result.each do |space_object|%>
  <%=space_object.name%><%=space_object.description%>
<%end%>

 <% if @user %>
  <h1> Welcome, <%= @user.display_name %></h1>
<% end %>

<form action='/spaces/new' method='get'>
  <input type='submit' value='Add Space'>
</form>

<form action="/users/new" method="get">
  <input type="submit" value="Sign up" />
</form>
