<form action='/spaces' method='post'>
  <input type='text' name='space_name' placeholder='Name your space'>
  <input type='text' name='description' placeholder='Description'>
  <input type='submit' value='Submit'>
</form>