<form action='/spaces' method='post'>
  <label for='space_name'><b>Name Your Space</label>
  <input type='text' name='space_name' placeholder='Name your space'>
  <label for='description'><b>Description</label>
  <input type='text' name='description' placeholder='Description'>
  <label for='price'><b>Price</label>
  <input type='number' name='price' placeholder='Price'>
  <input type='submit' value='Submit'>
</form>
