<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/style.css">
    <title>Makers Bnb</title>
  </head>
  <body>
    <p><%= @space.name %></p>
    <p><%= @space.description %></p>
    <p>Price per night: <%= @space.price %></p>
  </body>
</html>